/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

/* * {
  border: 2px solid black;
} */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-image: linear-gradient(#134d71, #78a7c6, #ffffff, #f7e4bf);
}

h1 {
  height: 100px;
  width: 500px;
  flex-shrink: 2;
  margin: auto;
  color: #ffffff;
  font-size: 150%;
  font-weight: bold;
  padding-top: 2%
}

h2 {
  height: 40px;
  width: 50vw;
  flex-shrink: 2;
  margin: auto;
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  padding-top: 2%
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex-shrink: 1;
  height: 12vh;
  min-height: 80px;
  width: 50vw;
  max-width: 700px;
  background-color: #ffffff;
  border-radius: 10px;
}

ul {
  height: 2vh;
  width: 50vw;
  max-width: 700px;
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.receive-message-button {
  height: 30px;
  width: 175px;
  justify-self: flex-end;
  color: #ffffff;
  font-size: 1.4vh;
  background-color: #134d71;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
}

.output-box { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 70vw;
  max-height: 200px;
  max-width: 900px;
  margin-top: 10vh;
  background-color: #ffffff;
  border-radius: 10px;
}

.meditation-icon {
  height: 7vh;
  width: 15vh;
}