/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

/* * {
  border: 2px solid black;
} */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
}

h1 {
  height: 100px;
  width: 500px;
  min-width: 350px;
  margin: auto;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  padding-top: 2%
}

h2 {
  height: 40px;
  width: 50vw;
  min-width: 350px;
  flex-shrink: 2;
  margin: auto;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding-top: 2%
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex-shrink: 1;
  height: 12vh;
  width: 50vw;
  min-height: 150px;
  min-width: 550px;
  max-width: 700px;
  background-color: #ffffff;
  border-radius: 10px;
}

.alt-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 50vw;
  min-height: 150px;
  min-width: 550px;
  max-width: 700px;
  background-color: #ffffff;
  border-radius: 10px;
}

ul {
  height: 2vh;
  width: 40vw;
  max-width: 700px;
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.message-form {
  display: flex;
  flex-direction: column;
}

.entry-types {
  display: flex;
  flex-direction: row;
}

.message-input {

}

.message-entry {
  min-height: 30px;
  min-width: 300px;
}

.btn {
  height: 30px;
  min-width: 175px;
  color: #ffffff;
  font-size: 15px;
  margin: 10px;
  background-image: linear-gradient(#134d71, #78a7c6);
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
}

.output-box { 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 1vh;
  height: 30vh;
  width: 70vw;
  max-height: 200px;
  max-width: 900px;
  min-height: 150px;
  min-width: 550px;
  margin-top: 10vh;
  background-color: #ffffff;
  border-radius: 10px;
}

.meditation-icon {
  height: 7vh;
  width: 15vh;
}

.create {
  justify-self: flex-start;
}



.hidden {
  display: none;
}