/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(#134d71, #78a7c6, #ffffff, #f7e4bf);
}

