/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

/* * {
  border: 2px solid black;
} */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-image: linear-gradient(#134d71, #78a7c6, #ffffff, #f7e4bf);
}

a{
  <linearGradient id="a"><stop offset="0" stop-color="#ff99b5"/><stop offset="1" stop-color="#ffdc68"/></linearGradient>
}

p {
  color: #ffffff;
  font-size: 150%;
  font-weight: bold;
  padding: 2%
}

div {
  height: 100px;
  width: 525px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;
}

.selection {
  display: inline;
  margin: auto;
}

.getMessage {
  display: block;
  margin: auto;
}

.outputMessage { 
  height: 100px;
  width: 525px;
  background-color: #ffffff;
  margin: auto;
}
